/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
    font-family: 'Mallanna', sans-serif;
    margin: 0 auto;
    background: #e6d9d9;
    color: #662c33;
}


/* header {
    display: flex;
} */



/* ================================= 
  Navigation
==================================== */

.name,
.main-nav {
    margin: auto;
}

.name {
    padding: 12px;
}

.main-nav li {
    list-style-type: none;
    margin: 5px;
}

.main-nav a {
    background: #662c33;
    color: #e6d9d9;
    text-decoration: none;
    /* margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.5em;  */

    border-radius: 4px;
}

.main-nav a:hover {
    background: blue;
}


/* ================================= 
  ato main page
==================================== */

h1 {
    display: flex;
    justify-content: center;
}


/* ================================= 
  Images
==================================== */

figcaption {
    border-radius: 2px;
    transition-duration: 1s, 3s;
    transition-property: background, border-radius, color;
    transition-timing-function: ease-in;
}

figcaption:hover {
    background: #804d51;
    border-radius: 6px;
    color: #ffffff;
}

.main-img {
    display: flex;
    max-width: 70%;
    border-radius: 4px;
    margin: auto;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
    
    .main-header {
        display: flex;
        justify-content: space-between;
    }
    
    .name,
    .main-nav li {
        display: inline-flex;
        display-direction: row;
        height: 75px;
    }
    
    .name {
        padding: 12px;
    }
    
    .main-nav a {
        margin: 5px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 1.5em; 
}

@media  (min-width: 1024px) {
}



/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}