/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mallanna', sans-serif;
    margin: 0 auto;
    background: #e6d9d9;
    color: #662c33;
}


header,
footer {
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */

}



/* ================================= 
  Navigation
==================================== */

.main-header {
    border-bottom: 4.5px solid #452024;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.mission,
.main-nav {
    flex-grow: 2;
    /* display: block;
    margin: auto; */
}


.name {
    margin: 20px;
    flex-grow: 1;
    /* max-width: 60%; */
    max-width: 250px;
}

.main-nav {
    margin-bottom: 8px;
}

.main-nav li {
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    font-size: 1.3em;
    line-height: 1.3em;
    padding: 4px;
}


/* .name a,
.main-nav a {
    padding: 5px 10px;
    display: block;
    text-decoration: none;

} */


.main-nav a {
    background: #662c33;
    color: #e6d9d9;
    text-decoration: none;
    display: block;
    padding: 1.1px;
    margin-top: 5px;
    /* margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.5em;  */

    border-radius: 4px;
}

.main-nav a:hover {
    background: blue;
}


/* ================================= 
  ato main page
==================================== */

.wrapper {
    width: 100%;
    /* max-width: 960px; */
    margin: 0 auto;
}

/* .mission {
    font-size: 1.2em;
    line-height: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
} */


h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.mission p {
    padding-bottom: 25px;
    font-size: 1.3em;
    text-align: center;
}

/* 
.main-flex {
    border-width: 8px;
    border-style: solid;
    border-color: orange;
} */

.wrapper2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2.5px solid #452024;
    border-radius: 4px;
    margin: 5px;
    /* margin-bottom: 10px; */
}

.logistics,
.kerikay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2.5px solid #452024;
    border-radius: 4px;
    margin: 5px;
}

.why,
.kerikay-words {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    flex-grow: 2;
}

.why h3,
.kerikay-words h3 {
    margin: auto;
    text-align: center;
}
/* 
.kerikay {
    display: flex;
    flex-direction: column;
} */

/* .logistics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 0;
    justify-content: space-between;
    
} */

.how,
.process {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    border: 1px solid #452024;
    border-radius: 4px;
    margin: 5px;
}


.sublist {
    margin-left: 20px;
}

.why :hover,
.kerikay-words :hover,
.how :hover,
.process :hover,
.patrick-words :hover,
.jahnene-words :hover,
.sponsors-role-list :hover,
.identify-sponsors :hover,
.network :hover {
    background: white;
    /* border: 3px solid #452024; */

}



.how h3,
.process h3 {
    margin: 0 auto;
}

.how ul,
.process ul {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    padding: 2px;

}

/* ================================= 
  sponsors page
==================================== */

.patrick,
.jahnene,
.sponsors-with-pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #452024;
    border-radius: 4px;
    margin: 5px;
}

.patrick-words,
.jahnene-words,
.sponsors-role {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    flex-grow: 2;
    }

.patrick-words h3,
.jahnene-words h3,
.sponsors-how h2 {
    margin: auto;
    text-align: center;
}

.jahnene-words p,
.network p {
    text-align: right;
}

/* .network {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2.5px solid #452024;
} */


.sponsors-how {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2.5px solid #452024;
    border-radius: 4px;
    margin: 5px;
}

.identify-sponsors,
.network {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6px;
    border: 1px solid #452024;
    border-radius: 4px;
    margin: 5px;
}

.identify-sponsors p,
.network h2 {
    padding-bottom: 15px;
}

.identify-sponsors ul,
.sponsors-role ul {
    list-style-position: inside;
}

.sponsors-role {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    align-items: center;
    padding: 10px;
    border: 2.5px solid #452024;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.sponsor-bios {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    align-items: center;
    border: 2.5px solid #452024;
    border-radius: 4px;
}


/* ================================= 
  achievers page
==================================== */

.def {
    text-align: center;
    padding-top: 15px;
    /* max-width: 100%; */
}

/* .achievement, */
.path-app,
.path-network,
.path-support,
.responsibilities-achiever,
.pay-it-forward {
    display: flex;
    flex-direction: column;
    /* flex-basis: 0; */
    align-items: center;
    padding: 10px;

}

.achievement,
.achiever {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2.5px solid #452024;
    border-radius: 4px;
    margin: 5px;
}

.path-app-supp,
.ach {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 2.5px solid #452024; */
    border-radius: 4px;
    margin: 5px;
}

.path-app,
.path-network,
.path-support,
.responsibilities-achiever,
.pay-it-forward {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 6px;
        border: 1px solid #452024;
        border-radius: 4px;
        margin: 5px;
    }

.achiever h2 {
    text-align: center;
}

.path-app ul,
.path-support ul,
.responsibilities-achiever ul {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    padding: 2px;

}

/* ================================= 
  orgs page
==================================== */

.orgs-main {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    align-items: center;
    padding: 10px;
    /* border: 1.5px solid #452024;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 15px; */
} 

.orgs-main p {
    padding-bottom: 15px;
}

.orgs-main ul {
    list-style-position: inside;
}

.donate {
    border: 7px dashed #244520;
    color: #202445;
    background: RGB(219, 219, 228);
    border-radius: 4px;
}

.donate h3 {
    text-align: center;
}

/* ================================= 
  Images
==================================== */

.caption-placeholder,
.placeholder-text {
    color: rgb(148, 114, 181);
}

figcaption {
    border-radius: 2px;
    transition-duration: 1s, 3s;
    transition-property: background, border-radius, color;
    transition-timing-function: ease-in;
}


.ron-ched,
.img-flex,
.kerikay-pic,
.kerikay-img,
.patrick-pic,
.patrick-img,
.jahnene-pic,
.jahnene-img,
.kids-with-certs-img {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* justify-items: center; */
}

.kids-with-certs-img {
    margin-left: 15px;
}

.caption {
    text-align: center;
}


figcaption:hover {
    background: #804d51;
    border-radius: 6px;
    color: #ffffff;
}
/* 
.img-flex {
    flex-grow: 1;
} */

.main-img,
.kerikay-img,
.patrick-img,
.jahnene-img,
.kids-with-certs-img {
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    max-width: 95%;
    /* width: 400px;
    height: 272px; */
    flex-grow: 1;
    border-radius: 4px;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    /* align-items: center; */
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
    
    .mission {
        max-width: 35%;
    }

    .mission {
        order: -1;
    }
/* 
    .main-header {
        flex-direction: column;
        align-items: center;
    }
 */
    
    /* .main-nav {
       align-items: center;
    } */
    
.nav-768 {
    display: flex;
    justify-content: center;
}

   .main-nav {
       justify-content: center;
   }
   
    .main-nav li {
        display: inline-flex;
        /* justify-content: space-between; */
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    /* .mission {
        margin-top: 10px;
    } */

    h1 {
      margin-left: 10px;
    }

    .img-flex {
        max-width: 40%;
    }

    .ron-ched,
    .img-flex {
        margin: 1px;
    }
    
    .why p {
        text-align: right;
    }

    /* .kerikay-header {
        text-align: center;
    } */

    .kerikay {
        flex-direction: row;
        justify-content: space-between;
    }

    .kerikay p {
        text-align: left;
    }

    /* .placeholder-kerikay {
        width: 5%;
    } */


    .placeholder-log,
    .placeholder-path {
        width: 5%;
        border: none;
    }

    .how,
    .process,
    .identify-sponsors,
    .network,
    .path-app,
    .path-support,
    .responsibilities-achiever,
    .pay-it-forward {
        width: 45%;
    }

    /* .identify-sponsors. */
    .orgs-main {
        display: block;
        width: 70%;
        float: left;
        text-align: left;      
    }

    /* .network {
        display: block;
        width: 70%;
        float: right;
        text-align: right;
        padding-right: 15px;
        padding-left: 10px;  
        margin-bottom: 15px;   
    } */

    /* .sponsors-role {
        display: flex;
        width: 100%;
        text-align: center;      
    } */
/* 
    .placeholder-sponsors {
        display: flex;
        flex-direction: column;
        width: 15%;
    } */

    /* .sponsor-bios {
        padding-left: 5px;
        padding-right: 10px;
    }


    .patrick {
        text-align: right;
    } */

    .path-network {
        order: 1;
        /* flex: 3; */
    }
/* 
    
    .placeholder-path {
        width: 15%;
        border: none; */
    

    /* .achievement {
        border: 2.5px solid #452024;
        border-radius: 4px;
        margin-bottom: 10px; */
        /* justify-content: space-evenly; */
    /* } */


    .achiever {
        /* flex-direction: row; */
        border: 2.5px solid #452024;
        border-radius: 4px;
        margin-bottom: 10px;
        
    }
/* 
    .responsibilities-achiever {
        margin: auto;
        width: 40%;
        margin-bottom: 15px;
    }

    .pay-it-forward {
        margin: 10px;
    } */


    /* .achievement  */
    .path-app,
    .path-support,
    .responsibilities-achiever,
    .pay-it-forward {
        width: 40%
    }

    /* .path-app-supp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; */
        /* margin: auto; */
    }


    .afieni,
    .ched-achiever,
    .yusef,
    .kerikay-achiever {
        flex-wrap: wrap;
        padding: 5px;
        margin: 5px;
        width: 22%;
        /* justify-content: center; */
    }


    /* .path-network {
        display: block;
    } */
/* 
    .path-support,
    .path-app {
        width: 45%;
    } */
}

@media  (min-width: 1024px) {

    .main-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .mission {
        width: 20%;
    }
    
    .name {
        margin-left: 5px;
    }



    .main-nav a {
        margin-left: 5px;
    }

    .why {
        max-width: 59%;
        justify-content: space-around;
    }

 
}



/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}