/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mallanna', sans-serif;
    margin: 0 auto;
    background: #e6d9d9;
    color: #662c33;
}


header,
footer {
    width: 100%;
}



/* ================================= 
  Navigation
==================================== */

/* .name,
.main-nav {
    align-items: center;
} */

.name,
.main-nav {
    display: block;
    margin: auto;
}

.main-nav li {
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
}


/* .name a,
.main-nav a {
    padding: 5px 10px;
    display: block;
    text-decoration: none;

} */


.main-nav a {
    background: #662c33;
    color: #e6d9d9;
    text-decoration: none;
    display: block;
    padding: 3px;
    margin-top: 1px;
    /* margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.5em;  */

    border-radius: 4px;
}

.main-nav a:hover {
    background: blue;
}


/* ================================= 
  ato main page
==================================== */

.wrapper {
    width: 100%;
    /* max-width: 960px; */
    margin: 0 auto;
}

h1 {
    /* /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    width: 70%;
    margin: auto;
}

.main-flex {
    border-width: 8px;
    border-style: solid;
    border-color: orange;
}


/* ================================= 
  Images
==================================== */

figcaption {
    border-radius: 2px;
    transition-duration: 1s, 3s;
    transition-property: background, border-radius, color;
    transition-timing-function: ease-in;
}

figcaption:hover {
    background: #804d51;
    border-radius: 6px;
    color: #ffffff;
}

.main-img {
    display: flex;
    max-width: 70%;
    border-radius: 4px;
    /* justify-content: center;
    align-content: center;
    align-items: center; */
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
    
    .main-header,
    .main-nav {
        display: flex;
    }

    .main-header {
        flex-direction: column;
        align-items: center;
    }

    .main-nav li {
        display: inline-flex;
        justify-content: space-around;
    }

    h1 {
      margin-left: 10px;
    }
}

@media  (min-width: 1024px) {

    .main-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .name {
        margin-left: 5px;
    }

    .main-nav {
        margin-right: 5px;
    }

    .main-nav li {
        font-size: 1.5em;
    }

    .main-nav a {
        margin-left: 5px;
    }
        


}



/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}